* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --white: #fafafb;
    --blue-dark: #0f0c29;
    --blue-light: #302b63;
    --blue: #24243e;
    --purple:#9a67ea;
    --transparent: rgba(255, 255, 255, 0.2);
  }

body{
    background-color: var(--purple);
    background-image: linear-gradient(172deg, var(--blue-dark) 0%, var(--blue-light) 50%, var(--blue) 100%);
    height: 100vh;
    display: flex;
}

.contenedor {
    width: 920px;
    height: 280px;
    margin: 130px auto;
    position: relative;
    background: linear-gradient(#18192d, transparent) #ffe2d1;
    transition: background-color 1s linear;
    overflow: hidden;
}

.mediodia {
    background-color: #a48e0f;
}

.tarde {
    background-color: #a61a1a;
}

.noche {
    background-color: #35259f;
}

.dino {
    width: 84px;
    height: 84px;
    position: absolute;
    bottom: 22px;
    left: 42px;
    z-index: 2;
    background: url(../img/dino.png) repeat-x 0px 0px;
    background-size: 336px 84px;
    background-position-x: 0px;

}

.dino-corriendo {
    animation: animarDino 0.25s steps(2) infinite;
}
.dino-estrellado {
    background-position-x: -252px;
}

.suelo {
    width: 200%;
    height: 42px;
    position: absolute;
    bottom: 0;
    left: 0;
    background: url(../img/floor.png) repeat-x 0px 0px;
    background-size: 50% 42px;

}

.cactus{
    width: 46px;
    height: 96px;
    position: absolute;
    bottom: 16px;
    left: 600px;
    z-index: 1;
    background: url(../img/cactus1.png) no-repeat;
}
.cactus2{
    width: 98px;
    height: 66px;
    background: url(../img/cactus2.png) no-repeat;
}

.nube{
    width: 92px;
    height: 26px;
    position: absolute;
    z-index: 0;
    background: url(../img/cloud.png) no-repeat;
    background-size: 92px 26px;
}

.moneda {
    width: 48px;
    height: 48px;
    position: absolute;
    z-index: 0;
    background: url(../img/moneda.png) no-repeat center center;
}

.score{
    width: 100px;
    height: 30px;
    position: absolute;
    top: 5px;
    right: 15px;
    z-index: 1;
    color: var(--white);
    font-family: Verdana;
    font-size: 30px;
    font-weight: bold;
    text-align: right;
}

.game-over{
    display: none;
    position: absolute;
    width: 100%;
    margin-top: 110px;
    text-align: center;
    z-index: 1;
    color: #222625;
    font-size: 40px;
    font-family: Verdana;
    font-weight: 700;
}

@keyframes animarDino{
    from{
        background-position-x: -84px;
    }
    to{
        background-position-x: -252px;
    }
}

/********** Estilos para el footer **********/

footer {
    background-color: var(--blue-light);
    color: var(--white);
    width: 100%;
    display: flex;
    justify-content: center;
    position: absolute;
    margin-top: 550px;
  }
  
  .dv_contacts a {
    text-decoration: none;
    margin: 10px;
    cursor: pointer;
  }
  
  .dv_contacts .btn_linkedin:hover {
    background-color: #01679e;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
  }
  
  .dv_contacts .btn_github:hover {
    background-color: #000000;
    transition: all 0.3s ease-in-out;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -ms-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transform: scale(1.1, 1.1);
    -webkit-transform: scale(1.1, 1.1);
    -moz-transform: scale(1.1, 1.1);
    -ms-transform: scale(1.1, 1.1);
    -o-transform: scale(1.1, 1.1);
  }
  
  .dv_contacts a i {
    color: var(--white);
    font-size: 30px;
    width: 50px;
    height: 50px;
    text-align: center;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .dv_contacts {
    margin-top: 20px;
    display: flex;
  }
